$background-color: #0d1321;
$card-color: #141d33;
$font-color: #ebebeb;
$subfont-color: #cacaca;
$red-color: #c42021;
$purple-color: #722690;
$blue-color: #279af1;
$card-radius: 8px;

* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Inter;
}

body {
    background-color: $background-color;
}

header {
    width: 100%;
    height: 6rem;
    display: flex;
    margin: 1.5rem 0;
    justify-content: center;
    align-items: center;
    color: $font-color;
    font-size: 1.3rem;
}

.global {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-mark {
        font-size: 2rem;
        color: $subfont-color;
        margin-bottom: 0.5rem;
    }
    &-card {
        width: 80vw;
        background-color: $card-color;
        padding: 1rem;
        height: max-content;
        border-radius: $card-radius;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 3px $purple-color solid;
        font-size: 1.2rem;
        &-cases {
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;
        }
        &-vacc {
            display: flex;
            flex-direction: row;
        }
        &-title {
            color: $font-color;
            margin-right: 0.8rem;
        }
        &-casenum {
            color: #c42021;
        }
        &-vacnum {
            color: $blue-color;
        }
    }
}

.continent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    // COLUMNS
    &-s1,
    &-s2,
    &-s3 {
        display: flex;
        flex-direction: column;
    }
    &-mark {
        margin-top: 2rem;
        font-size: 2rem;
        color: $subfont-color;
    }
    &-card {
        border-top: 3px $purple-color solid;
        width: 80vw;
        margin: 1rem 1.2rem;
        background-color: $card-color;
        border-radius: $card-radius;
        padding: 1rem 1.3rem;
    }
    &-title {
        margin-top: 0.2rem;
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
        color: $font-color;
    }
    &-data {
        font-size: 1.2rem;
        &-title {
            margin-top: 1rem;
            color: $subfont-color;
        }
        &-number1 {
            color: $red-color;
        }
        &-number2 {
            color: $blue-color;
        }
    }
}

@media (min-width: 426px) {
    .continent {
        &-s1,
        &-s2,
        &-s3 {
            display: flex;
            flex-direction: row;
        }
        &-card {
            width: 30vw;
        }
        &-data {
            &-title {
                font-size: 1.5rem;
            }
        }
    }
    .global {
        &-card {
            width: 61.5vw;
            height: 8rem;
        }
    }
}
